* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px ;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "akagi-pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #422f21;
}

h1 {
  font-family: "Hatch Bold";
  font-size: 120px;
  color: #f28705;
}

h2 {
  font-family: "Hatch Regular";
  font-size: 80px;
  color: #422f21;
  line-height: 90px;
}

h3 {
  font-family: "Hatch Bold";
  font-size: 25px;
  color: #422f21;
  line-height: 25px;
}

h4 {
  font-family: "akagi-pro";
  font-size: 16px;
  font-weight: 600;
  color: #422f21;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

a {
  color: #422f21;
}

a.button {
  display: inline-block;
  padding: 12px 18px;
  font-family: "akagi-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.button.pos {
  background: #f28705;
  color: #422f21;
  font-weight: bold
}

a.button.neg {
  background: #422f21;
  color: #f2f1e2;
}

.page2 {
  background-image: url(/images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 24px;
  max-width: 1400px;
  margin: 148px auto 0 auto;
}

.main-homepage{
  background-color: #f2f1e2;
}

.main-contact {
  background-color: #F2F1E2;
  display: flex;
  flex-wrap: wrap;
}

.contact-form{
  flex: 1;
  max-width: 600px;
}

.contact-form form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-field{
  width: calc(50% - 12px);
}

.input-field input{
  width: 100%;
}

.input-field.message{
  width: 100%;
}

.input-field.message textarea{
  width: 100%;
}

.main-contact h1.title{
  width: 100%;
}

.main-about{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.main-about h1{
width: 100%;
padding-bottom: 100px;
}

.main-about .left {
  width: 30%;
  padding-right: 30px;
}

.main-about .left p{
  font-family: Hatch light;
  font-size: 16px;
  padding-bottom: 50px;
  max-width: 300px;
}

.main-about .left img{
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.main-about .right {
 width: 60%;
 padding-left: 30px;
}

.main-about .right p {
  font-family: Hatch medium;
  font-size: 26px;
  max-width: 500px;
  padding-bottom: 50px;
}

.main-about .right img{
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

nav #logo {
  height: 100px;
  display: flex;
  justify-content: center;
}

nav #logo img {
  width: 100px;
  transition-duration: 0.25s;
}
nav #logo img:hover {
  width: 110px;
}

header nav {
  padding: 24px;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

header nav#desktop-nav > * {
  flex: 1;
}

header nav > *:nth-last-child(-n + 3) {
  text-align: right;
}

header nav a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition-duration: 0.25s;
}

header nav a:hover {
  letter-spacing: 2px;
}

.nav-icon {
  padding-left: 40px;
}

#mobile-nav {
  display: none;
}

#burger {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.burger-line {
  width: 32px;
  height: 3px;
  background: black;
}

.burger-line:nth-of-type(2) {
  margin: 6px 0px;
}

.page-intro {
  width: 400px;
  font-family: Hatch Light;
  display: flex;
  padding-bottom: 72px
}

.page-intro-big {
  width: 500px;
  font-family: Hatch Medium;
  font-size: 24px;
  display: flex;
  padding: 0px 100px 72px 0px;
}

#slider-container {
  position: relative;
  width: 100%;
  height: 1000px;
  padding-bottom: 72px;
  color: #422f21;
  display: flex;
  justify-content: center;
}

#slide-pag {
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#slide-pag .pag {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid #422f21;
}
#slide-pag .pag.active {
  background: #422f21;
}
#slider {
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.slide img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.slide > * {
  margin-right: 16px;
}

.slide .slide-text {
  padding: 0px 24px;
}

.slide .slide-text > * {
  margin-bottom: 16px;
}

.product-list-hor {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}

.product-list-hor::-webkit-scrollbar {
  display: none;
}

.product-preview {
  height: 350px;
  width: 300px;
  padding: 52px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  border: 2px solid black;
}

.product-preview img {
  display: block;
  height: 100%;
  margin-bottom: 16px;
}

.product-preview-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-preview-info p:first-of-type {
  font-weight: bold;
}

.product-list-cta {
  margin-left: auto;
}

.jacket-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 36px;
}

.jacket-preview {
  background-color: #F2F1E2;
}

.jacket-preview img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  padding: 36px 0px 0px;
}

.jacket-preview-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  padding: 24px
}

.jacket-colors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}
.jacket-color-option {
  width: 11px;
  min-width: 11px;
  height: 11px;
  min-height: 11px;
  margin-right: 8px;
}
.jacket-color-option:last-of-type {
  margin-right: 0px;
}
  .jacket-color-option.orange {
    background: #F28705;
  }
  .jacket-color-option.black {
    background: #000;
  }
  .jacket-color-option.blue {
    background: #C6E0D5;
  }
  .jacket-color-option.red {
    background: #A72F23;
  }
  .jacket-color-option.green {
    background: #8BB562;
  }
  .jacket-color-option.brown {
    background: #73683E;
  }

.contact-form {
  display: inline;
  justify-content: right;
}
.contact-form input[type=text], select, textarea {
  font-family: akagi-pro;
  display: flex;
  padding: 12px;
  border: 1px #422f21;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

select{
  font-size: 20px;
}

.contact-form input[type=text], .contact-form textarea{
  border: 2px solid #422f21;
}

.contact-form input[type=submit] {
  font-family: Hatch medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #f28705;
  color:#422f21;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.preview-product-title, .preview-product-price, .preview-product-description {
  display: inline-block;
}
.preview-product-title {
  width: 50%;
}
.preview-product-price {
  width: 50%;
  font-size: 20px;
  text-align: right;
}
.preview-product-description {
  display: block;
  width: 100%;
  margin-top: 12px;
  font-size: 12px;
}

/* jacket section */

#product-container{
  position: relative;
  width: 100%;
  color: #422f21;
  display: flex;

}
.product-info{
  padding: 24px
}
.product-inspo-container{
  width: 50%;
 }
 
.product-inspo-container img{
  display: inline-block;
  width: 100%;
  margin: 0;
}

.product-img-gallery{
  background: #f2f1e2;
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

#img-thumbnail-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.product-img-gallery img.main-image{
  width: 100%;
  height: auto;
}

#img-thumbnail-container .thumb-img{
  margin-bottom: 25px;
}
#img-thumbnail-container .thumb-img:last-of-type{
  margin-bottom: 0px;
}
#img-thumbnail-container .thumb-img.active{
  padding: 12px;
  border: 2px solid #422f21;
}

.product-page-header{
  font-size: 40px;
  color: #422f21;
}

.product-media{
  display: flex;
}

.product-price{
  font-size: 30px;
  font-weight: bold;
  padding: 24px 0px 24px;
}

.product-description{
  padding-top: 24px;
  max-width: 200px;
}

#jacket-inspo-pag {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#jacket-inspo-pag .pag {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #422f21;
}
#jacket-inspo-pag .pag.active {
  background: #422f21;
}

footer .footer_content {
  display: flex;
}

footer {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition-duration: 0.25s;
  margin: 148px auto 0 auto;
}

.footer_content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer_btn {
  margin-left: auto;
  justify-content: center;
}

.footer_links a {
  display: block;
}

.footer_content > * {
  margin-right: 24px;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 54px;
    line-height: 50px;
  }
 
  #desktop-nav {
    display: none;
  }
 
  #mobile-nav {
    display: flex;
    justify-content: space-between;
  }
 
  #slider-container {
    height: 50%;
   justify-content: center;
  }
 
  .slide {
    flex-direction: column;
    display: block;
  }

  .slide img {
    height: 400px;
    width: 100%;
    padding: 25px;
  }

  .slide img:nth-child(1) {
    display: none;
  }